@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist';
  src: url('@/assets/fonts/GeistMono.ttf') format('truetype');
}

.nicer-scrollbar::-webkit-scrollbar {
  @apply h-2 w-2;
}

.nicer-scrollbar::-webkit-scrollbar-track {
  @apply rounded-full bg-transparent;
}

.nicer-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-full bg-zinc-600;
}

.nicer-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-600;
}

* {
  transition-duration: 100ms;
  @apply outline-orange-300;
}
